
$bodyBackgroundColor: white;

$menuDark: #C6BDC1;
$menuClear: #E3DCDF;

$fontColorDark: #2E2D2D;
$fontColorMediumDark: #444243;
$fontColorMediumLight: #9A8C92;
$fontColorExtraLight: #F7F6F6;

h1{
    color: $fontColorDark;
}

h2, h3{
    
    color: $fontColorMediumDark;
}

$various-text: #6d3844;
$various-menus: #6d3844;
